<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Highly Experimental Test Canvas</title>
    <link rel="stylesheet" href="../stylesheets/canvas.css">
  </head>
  <body>
    <canvas id="canvas" height="700" width="700"></canvas>
    <!-- NOTE: canvas can ONLY be modified using these height and width values. PLEASE don't try to use CSS. don't trust me?
                trust the cow:
                ____________________________________
               / please don't use css to modify the \
               \ canvas                             /
                ___________________________________
                       \   ^__^
                        \  (oo)\_______
                           (__)\       )\/\
                               ||____w |
                               ||     ||
-->
    <p id="curr_url"></p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/canvas_manager.js" charset="utf-8"></script>
  </body>

</html>
