
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="../stylesheets/navBar.css" rel="stylesheet">
        <script type="text/javascript" src="./button.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"></script>
            <title>Instructions</title>

  </head>
    <body>

      <nav class="navbar navbar-expand-sm bg-warning fixed-top">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link link1" href="instructions.html">
                  Collaborative Art Live
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link2" href="./create-enter-game.html">Create/Enter Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link2" href="./past-drawings.html">Past Drawings</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link link2" href="./about-me-pages/about-us.html">About Us</a>
            </li>
          </ul>
        </nav>
          <br>
          <br>
          <br>
          <br>
          <div class="container">
              <a href="http://www.youtube.com">
                  <img id="instrGif" alt="instructionalGif" src="./instructionalGif.png">
              </a>
              <p>Click the following link to access an experimental demo <a href="canvas.html">this link</a></p>
              <form id="inputForm">
                    <label for="w3review">TEXT BOX:</label>
                    <textarea id="w3review" name="w3review" rows="5" cols="50">A text area that we will hopefully transition into sending images.  Also our instructions will go here
                    </textarea>
                  <button type="button"  class="btn btn-primary" onclick="stingo(id)">Submit</button>
              </form>
          </div>
    </body>
</html>
