<%- include('../components/head') %>
    <link href="/res/stylesheets/navBar.css" rel="stylesheet">

        <title>About Us</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-custom">
      <!-- Links -->
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link link1" href="/instructions">
                      <img src="img/titleCARL.JPG" alt="Logo" style="width:250px;">
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link rounded link2" href="/create-enter-game">Create/Enter Game</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link rounded link2" href="/past-drawings">Past Drawings</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link rounded link2" href="/about-me-pages/about-us">About Us</a>
              </li>
          </ul>
  </nav>
      <br><br><br><br>
    <h1>All about Team C.Ar.L</h1>
      <p>
        Let's introduce you to the team!
      </p>
      <p>Learn more about Damon by <a href="damon-about-me">clicking me</a></p>
      <p>Learn more about Alex by <a href="alex-about-me">clicking me</a></p>
      <p>Learn more about Julia by <a href="julia-about-me">clicking me</a></p>
      <p>Learn more about Annikka by <a href="annikka-about-me">clicking me</a></p>
      <p>Learn more about Ash by <a href="ash-about-me">clicking me</a></p>
  </body>
</html>
