<%- include('../components/head') %>
		<link href="../../stylesheets/navBar.css" rel="stylesheet">

		<title>
			Alex
		</title>

	</head>

	<body>
	<%- include('../components/menu') %>
		  <br><br><br><br>
		<h1>
			Alex Herman
		</h1>
    <p> Hi! I'm Alex, I'm a Computer Science and CTD double major. I am the President of the CU Sprinting Club, so obviously I'm a really big fan of running! </p>
    <a href="about-us.ejs"> Home </a> <br>
	</body>
</html>
