<%- include('../components/head') %>
		<link href="/res/stylesheets/navBar.css" rel="stylesheet">
		<!-- <link href="/res/stylesheets/myStyle.css" rel="stylesheet"> -->
		<title>
			Alex
		</title>
		<style>
			body{
				background-color: #1a1c20;
				background-size: 100% 100%;
				font-family: 'Lato', sans-serif;
			}
			.container{
				color: #f4f4f4;
				font-family: 'Lato', sans-serif;
			}
			.banner1{
				background-color: #f0a500;
				color: #1a1c20;

			}
			
		</style>
	</head>

	<body>
		<%- include('../components/menu--') %>
		  <br><br><br><br>

		  <div class="container pt-3">

			<h1>Alex Herman
				<small class ="text-muted"> - Software Development Methods and Tools</small>
			</h1>
			<div class="card banner1">
				<p class="card-body">Hi! I'm Alex, I'm a Computer Science and CTD double major. 
					I am the President of the CU Sprinting Club, so obviously I'm a really big fan of running more than just programs. 
					I'm a big fan of web develoment and enjoy working on small coding projects in my free time.
				</p>
			</div>
			<br>
			<img class ="rounded-circle" src ="alex.jpg" alt="Senior Portrait" height = "500" width ="450" >
			<br>    
		</div>

	</body>
</html>
