<%- include('../components/head') %>
		<link href="/res/stylesheets/navBar.css" rel="stylesheet">
		<!-- <link href="/res/stylesheets/myStyle.css" rel="stylesheet"> -->
		<title>
			Annikka
		</title>
		<style>
			body{
				background-color: #1a1c20;
				background-size: 100% 100%;
				font-family: 'Lato', sans-serif;
			}
			.container{
				color: #f4f4f4;
				font-family: 'Lato', sans-serif;
			}
			.banner1{
				background-color: #f0a500;
				color: #1a1c20;

			}
			
		</style>
	</head>

	<body>
		<%- include('../components/menu--') %>
		  <br><br><br><br>

		  <div class="container pt-3">

			<h1>Annikka Turmala
				<small class ="text-muted"> - Software Development Methods and Tools</small>
			</h1>
			<div class="card banner1">
				<p class="card-body">After spending a year studying visual art in Chicago, I moved back
                    to Colorado to study computer science at CU Boulder. My main goal is
                    to work on projects that utilize both my skills in art and computer
                    science.
				</p>
            </div>
            <br>
			<img class ="rounded-circle" src ="annikka.jpg" alt="Senior Portrait" height = "575" width ="450" >
			<br>    
		</div>

	</body>
</html>