<%- include('../components/head') %>
<link href="/res/stylesheets/navBar.css" rel="stylesheet">

<title>
  About Ash
</title>

</head>

<body>
    <%- include('../components/menu--') %>
<br><br><br><br>
        <br><br><br><br>
      <h1>About Ash</h1>
        <a href = "about-us.ejs"> Home </a>
        <hr>
	      <img src = "ash-pic.jpg" alt="img1" height = "300">
        <h2>About Me:</h2>
        <p>Hello There! My name is Ash, and I'm 19 hailing from Dallas, Texas.</p>
        <p>I love all things technology and am an avid tennis player.</p>
        <p>I greatly enjoy C++ and am looking forward to this foray into web dev!</p>
        <h2>Education: </h2>
        <p>I graduated from Bishop Lynch, and am now pursuing a degree in CS and CTD!</p>
	<p>If you happen to have any open internships, you know who to call.. </p>

    </body>
</html>
