<%- include('../components/head') %>
		<link href="/res/stylesheets/navBar.css" rel="stylesheet">
		<!-- <link href="/res/stylesheets/myStyle.css" rel="stylesheet"> -->
		<title>
			Damon
		</title>
		<style>
			body{
				background-color: #1a1c20;
				background-size: 100% 100%;
				font-family: 'Lato', sans-serif;
			}
			.container{
				color: #f4f4f4;
				font-family: 'Lato', sans-serif;
			}
			.banner1{
				background-color: #f0a500;
				color: #1a1c20;

			}
			
		</style>
	</head>

	<body>
		<%- include('../components/menu--') %>
		  <br><br><br><br>

		  <div class="container pt-3">

			<h1>Damon Leaf
				<small class ="text-muted"> - Software Development Methods and Tools</small>
			</h1>
			<div class="card banner1">
				<p class="card-body">Hello There! My name is Damon Leaf, I'm 19 years old and I'm from Sacramento California.
                    I love sports, tech, and movies. I was an ice hockey goalie for 11 years and even tried to play in college, but decided to focus more on earning a degree in computer science.
                    Education: 
                    I graduated from Granite Bay Highschool in the spring of 2019 and am currently a sophomore at CU Boulder studying computer science. I hope in the future to have
                        a career in theme park engineering and ride design.
                     If you happen to have any open internships, you know who to call...
                </p>
            </div>
            <br>
			<img class ="rounded-circle" src ="modelShot.jpg" alt="Senior Portrait" height = "500" width ="450" >
			<br>    
		</div>

	</body>
</html>
