<%- include('../components/head') %>
		<link href="/res/stylesheets/navBar.css" rel="stylesheet">
		<!-- <link href="/res/stylesheets/myStyle.css" rel="stylesheet"> -->
		<title>
			Julia
		</title>
		<style>
			body{
				background-color: #1a1c20;
				background-size: 100% 100%;
				font-family: 'Lato', sans-serif;
			}
			.container{
				color: #f4f4f4;
				font-family: 'Lato', sans-serif;
			}
			.banner1{
				background-color: #f0a500;
				color: #1a1c20;

			}
			
		</style>
	</head>

	<body>
		<%- include('../components/menu--') %>
		  <br><br><br><br>

		  <div class="container pt-3">

			<h1>Julia troni
				<small class ="text-muted"> - Software Development Methods and Tools</small>
			</h1>
			<div class="card banner1">
				<p class="card-body">My name is Julia Troni. I was born and raised in Littleton, Colorado. I have 3 younger siblings and a dog named KylieThePoopie.
                    I am a student at CU Boulder pursuing a major in Computer Science Engineering and minors in Spanish and Business.
                    I am also a barista at Starbuck and spend lots of time babysitting and pet sitting.
                    In my free time I enjoy staying active and exploring the outdoors. I am very into hiking, weight lifting and swimming.
				</p>
            </div>
            <br>
			<img class ="rounded-circle" src ="julia.jpg" alt="Senior Portrait" height = "500" width ="450" >
			<br>    
		</div>

	</body>
</html>
