body {
  margin: 0px;
  background: aqua;
}

#thisCursor {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#draw-canvas{
  background: white;
  position: fixed;
  left: 30%;
  top: 10%;
  user-select: none;
  z-index: 0;
}

#cursor-canvas{
  position: fixed;
  left: 30%;
  top: 10%;
  user-select: none;
  z-index: 2;
}

#room-req{
  width: 300px;
}
