<%- include('../components/head') %>
        <link href="../../stylesheets/navBar.css" rel="stylesheet">

            <title>Create Game</title>

  </head>
    <body>

    <%- include('../components/menu') %>
    Yep this is empty for now.
    </body>
</html>
