<%- include('../components/head') %>
            <link href="/res/stylesheets/navBar.css" rel="stylesheet">
            <title>Past Drawings</title>

  </head>
    <body>

        <nav class="navbar navbar-expand-sm bg-warning fixed-top">
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link link1" href="instructions.ejs">
                    Collaborative Art Live
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link2" href="create-enter-game">Create/Enter Game</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link link2" href="past-drawings">Past Drawings</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link link2" href="../about-me-pages/about-us">About Us</a>
              </li>
            </ul>
          </nav>
    </body>
</html>
