<%- include('../components/head') %>
            <link href="/res/stylesheets/navBar.css" rel="stylesheet">
            <title>Past Drawings</title>

  </head>
    <body>

      <%- include('../components/menu') %>
    </body>
</html>
