<%- include('../components/head') %>
            <link href="/res/stylesheets/navBar.css" rel="stylesheet">
            <link href="res/stylesheets/pastDrawings.css" rel="stylesheet">
            <title>Past Drawings</title>
            <style>
              body {
                  background-color: #1a1c20;
                  background-size: 100% 100%;
              }
          </style>
  </head>
    <body>

      <%- include('../components/menu') %>
      <br><br>
      <div class="myHeading">
        <h1 >Previous Drawings</h1>
      </div>

      <div class="container">
        <%
                if (allcanvases) {
                  var imgs = '';
                  allcanvases.forEach(function(item){
                    var imgsrc= "data:image/png;base64," + item.img_64bitcode;
                    imgs += '<img id = "canvas_img" src="' + imgsrc + '" alt="a past canvas" style="width:500px;height:600px;" />'
                  }); %>
        <%- imgs %>
        <% } %>
      </div>
    </body>
</html>
